
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	height:150px;
	font-size:30px;
	justify-content:space-between;
	align-items:center;
	
	
	/* background-color:green; */
}

.a{background-color:green;
   height:auto;
	width:100px;
	text-align:left;

  
  }
.b{
	background-color:red;
	height:auto;
	width:100px;
	text-align:left;
	align-items:flex-end;
}
.c{
	background-color:blue;
	height:auto;
	width:100px;
	text-align:left;
	justify-content:flex-start;
}